.images {
    
    .images__row {
        display: flex;
        flex-direction: row;

        .images__container {
            margin: 0.5rem;
            padding: 0;
            background-color: #cbcdcf;

            .images__image {
                width: 100%;
                height: 100%;
            }
        }
    }
}