@import '../../css/variables.less';

.drop-files {
    border: 2px dashed transparent;
    margin: 2rem 0;
    flex-grow: 1;

    &.drop-files_drag {
        opacity: 0.5;
        border-color: @primary-color;
    }

    &.drop-files_flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}