@import '../../css/variables.less';

.settings__button-clear {
    color: @danger-color;
    background-color: @control-background-color;
    border: 1px solid @control-border-color;

    &:hover, &:focus, &:active {
        color: @control-background-color;
        background-color: @danger-color;
    }
}