html {
    font-size: 20px;
    height: 100%;

    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    color: #333333;

    font-family: "PT Sans", "Segoe UI", "Verdana", "Helvetica", sans;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 90%;
}

@media screen and (max-width: 800px) {
    #container {
        margin: 0 1rem;
    }
}